.add-movie{
    padding: 20px 0 50px 0;
    .head-actors{
        margin-top: 10px;
        background-color: $Primary;
        color: #FFF;
        font-weight: 700;
        padding: 10px 0;
    }
    .actor-edit-form{
        width: 80%;
        border-radius: 5px;
        position: fixed;
        top: 50%;
        left: -200%;
        transform: translate(-50%,-50%);
        background-color: #fff;
        padding: 20px;
        transition: $transition;
        z-index: 100;
        &.open{
            left: 50%;
        }
        .close{
            cursor: pointer;
            padding: 5px 15px;
            background-color: #30a37f;
            color: #fff;
            border-radius: 50%;
            font-size: 21px;
        }
    }
}